header, footer {
    background-color: #1f2937;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

header ul {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}
