header, footer {
    background-color: #1f2937;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;
}

footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}


.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

header ul {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}


.container-one {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 80px 200px;
    gap: 32px;
}

.title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.subtext-one {
    font-size: 18px;
    color: #e5e7eb;
}

img {
    width: 420px;
}

button {
    margin-top: 8px;
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 6px 20px;
}


.container-two {
    padding: 32px 340px 80px;
}

.container-three {
    background-color: #e5e7eb;
    padding: 120px 320px;
}

.container-four {
    padding:  84px 360px;
}


.info {
    font-size: 36px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    color: #1f2937;
    margin-bottom: 42px;
}

.range {
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

.box {
    width: auto;
    height: 0;
    padding: 50%;
    border: 2px solid #3882f6;
    border-radius: 15px;
    align-items: center;                    /* not sure this does anything- want image to be centered in this kkkkkkk*/
}

.subtext-two {
    color: #3c3b3b;
    text-align: center;
    margin-top: 12px;
}


.quote {
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
    font-style: italic;
}

.author {
    margin-left: 70%;
    font-weight: 700;
    font-size: 20px;
}


.signup {
    color: white;
    background-color: #3882f6;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    padding: 36px 72px;
    gap: 32px;
}

.action {
    font-weight: 600;
}

.click {
    font-weight: 200;
}


.btn-two {
    border: 1.5px solid white;
}