header, footer {
    background-color: #1f2937;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;
}

footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}


.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

header ul {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}


.container {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 48px;
}

.title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

